*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.all-elements {
  width: 1110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.product-selection__title {
  text-align: center;
font-style:normal;
font-weight: 400;
font-size: 70px;
line-height: 78px;
margin:220px auto 110px;
color: #515076;
}
.background-img-dandelions {
  background-image: url("/images/background-dandelions.png");
  background-repeat: no-repeat;
  background-size: 50%;
}
.product-card-wrappler {
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  row-gap: 45px;
  column-gap: 45px;
  height: 1191px;
  width: 1110px;
  margin: 0 auto 116px;
}
.product-card {
  width: 340px;
  min-height: 573px;
  box-shadow: 0 2px 2px 0;
  position: relative;

/* back violet */
background: #F7F7FA;
box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);

}
.product-card__img {
  display: block;
  width: 290px;
  margin: 25px;
}
.product-card__for-skin {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
text-transform: uppercase;
color: #A5A3B9;
padding-left: 25px;
margin-top:5px;
margin-bottom: 5px;
}
.product-card__title {
padding-left: 25px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
color: #515076;
margin-top:5px;
margin-bottom: 5px;
}
.product-card__descr {
  padding-left: 25px;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
color: #515076;
margin-top:5px;
margin-bottom: 15px;
}
.product-card__composition {
  padding-left: 25px;
margin-top:15px;
margin-bottom: 5px;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;

color: #515076;
}

.product-card__components {
  padding-left: 50px;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
color: #515076;
margin-top:5px;
margin-bottom: 25px;
list-style-position: inside;
}
.product-card__price {
  margin-left: 25px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #515076;
float: left;
margin-bottom: 25px;
}
.product-card__value{ margin-right: 25px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
float: right;
color: #515076;
margin-bottom: 25px;
}
